MONGODB_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/sweetbites?retryWrites=true&w=majority&appName=SweetBites
JWT_SECRET=secret
ADMIN_EMAIL=
ADMIN_PASSWORD=
CONTACT_TO_EMAIL=
MAIL_HOST=
MAIL_PORT=
MAIL_USERNAME=
MAIL_PASSWORD=
