body {
  font-family: 'Work Sans', sans-serif;
}

.bg-vanilla-cream { background-color: #F9EFE6; }
.bg-white-chocolate { background-color: #FDFBF9; }
.text-dark-chocolate { color: #3E2723; }
.text-milk-chocolate { color: #7B4B3A; }
.text-hazelnut-chocolate { color: #A9746E; }
